<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.AdminDao">
    <insert id="save" parameterType="com.baizhi.entity.Admin">
        insert into cmfz_admin values (#{id},#{name},#{password})
    </insert>

    <select id="queryAdmin" parameterType="com.baizhi.entity.Admin" resultType="com.baizhi.entity.Admin">
          select  id,name,password from cmfz_admin
          where name=#{name} and password=#{password}
    </select>

    <update id="update" parameterType="com.baizhi.entity.Admin">
        update cmfz_admin set password=#{password}
        where id=#{id}
    </update>
</mapper>